@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes tick {
  10% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  90% {
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes tick {
  10% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  90% {
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes tick {
  10% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  90% {
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes tick {
  10% {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  90% {
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
.inputRange2-wrapper {
  width: 200px;
  margin: 100px auto; }

#inputRange2 {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #ebebeb;
  box-shadow: inset 0 1px 0 0 #d7d7d7, inset 0 -1px 0 0 #d7d7d7;
  -webkit-box-shadow: inset 0 1px 0 0 #d7d7d7, inset 0 -1px 0 0 #d7d7d7;
  outline: none;
  /* no focus outline */ }

#inputRange2::-moz-range-track {
  border: inherit;
  background: transparent; }

#inputRange2::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent; }

#inputRange2::-ms-fill-lower,
#inputRange2::-ms-fill-upper {
  background: transparent; }

#inputRange2::-ms-tooltip {
  display: none; }

/* thumb */
#inputRange2::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #206baf));
  /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top, #529de1 0, #206baf 100%);
  /* older mobile safari and android > 2.2 */
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */ }

#inputRange2::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #206baf 100%);
  /* W3C */ }

#inputRange2::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0px solid transparent;
  background-image: linear-gradient(to bottom, #529de1 0, #206baf 100%);
  /* W3C */ }

body {
  background-color: whitesmoke;
  font-family: 'Droid Sans', sans-serif; }

input.vertical {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr; }

input.long {
  height: 450px; }

.range-msg, .range-warning, .range-danger {
  color: #649664;
  -webkit-animation: tick .2s ease-in;
  -moz-animation: tick .2s ease-in;
  -o-animation: tick .2s ease-in;
  animation: tick .2s ease-in; }

.range-warning {
  color: orange !important; }

.range-danger {
  color: red 	!important; }

#inputRange::-ms-track {
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent; }
#inputRange::-ms-fill-upper {
  background: #787878;
  border-radius: 5px; }
#inputRange::-ms-fill-lower {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 5px; }
#inputRange::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #646464; }
#inputRange::-ms-tooltip {
  display: none; }

.wrapper {
  text-align: center;
  margin: 3% auto;
  width: 300px;
  padding-bottom: 40px; }
  .wrapper div {
    display: inline-block; }

.main-wrapper {
  width: 80%;
  margin: 10% auto;
  padding: 20px; }
  .main-wrapper:hover {
    transition: all 0.2s ease-in;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 1px #d7d7d7; }

.pressing {
  background: #d7d7d7 !important;
  transition: all 0.2s ease-in; }

.IE-notSupported {
  color: rgba(250, 100, 100, 0.7); }
  .IE-notSupported:hover {
    box-shadow: 1px 1px 1px #d7d7d7; }

/*# sourceMappingURL=main.css.map */
