//ORIGINAL COLORS:
//$iR2-bg: #232528;
//$iR2-bs-1:#0d0e0f;
//$iR2-bs-2:#3a3d42;
//$iR2-grd-1: #529de1;
//$iR2-grd-2: #245e8f;



$iR2-bg: rgba(235,235,235,1);

$iR2-bs-1: $iR2-bg - 20;
$iR2-bs-2: $iR2-bg - 20;

$iR2-grd-1: #529de1;
$iR2-grd-2: $iR2-grd-1 - 50;


.inputRange2-wrapper {
  width: 200px;
  margin: 100px auto;
}

#inputRange2 {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: $iR2-bg;
  box-shadow: inset 0 1px 0 0 $iR2-bs-1, inset 0 -1px 0 0 $iR2-bs-2;
  -webkit-box-shadow: inset 0 1px 0 0 $iR2-bs-1, inset 0 -1px 0 0 $iR2-bs-2;
  outline: none; /* no focus outline */
}

#inputRange2::-moz-range-track {
  border: inherit;
  background: transparent;
}

#inputRange2::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

#inputRange2::-ms-fill-lower,
#inputRange2::-ms-fill-upper {
  background: transparent;
}

#inputRange2::-ms-tooltip {
  display: none;
}

/* thumb */

#inputRange2::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $iR2-grd-1), color-stop(100%, $iR2-grd-2)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , $iR2-grd-1 0, $iR2-grd-2 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, $iR2-grd-1 0, #245e8f 100%); /* W3C */
}
#inputRange2::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, $iR2-grd-1 0, $iR2-grd-2 100%); /* W3C */
}

#inputRange2::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0px solid transparent;
  background-image: linear-gradient(to bottom, $iR2-grd-1 0, $iR2-grd-2 100%); /* W3C */



}

