* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



@import url(http://fonts.googleapis.com/css?family=Droid+Sans);


@import "animation.scss";
@import "inputRangeCodePen.scss";

$bg: rgba(245,245,245,1);
body {
	background-color: $bg;
	font-family: 'Droid Sans', sans-serif;
}


input.vertical{
	-webkit-appearance: slider-vertical;  writing-mode: bt-lr;
}

input.long{
	height:450px;
}




.range-msg{
	color: rgba(100,150,100,1);
	@include animation('tick .2s ease-in');
}

.range-warning{
	@extend .range-msg;
	color: orange !important;
}

.range-danger{
	@extend .range-msg;
	color: red 	!important;

}



//COLORS

$fill-lower: rgba(100,100,100,1);
$fill-upper: $fill-lower + 20;
$thumb: rgba(100,100,100,1);


#inputRange{
	
	&::-ms-track{
		
		height: 5px;

		/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
		background: transparent;

		/*leave room for the larger thumb to overflow with a transparent border */
		border-color: transparent;
		border-width: 6px 0;

		/*remove default tick marks*/
		color: transparent;
		

	}

	&::-ms-fill-upper{
		background: $fill-upper;
		border-radius: 5px;
	}

	&::-ms-fill-lower{
		background: rgba($fill-lower,0.5);
		border-radius: 5px

	}

	&::-ms-thumb {
		$size: 16px;
		border: none;
		height: $size;
		width: $size;
		border-radius: 50%;
		background: $thumb;


	}

	&::-ms-tooltip {
		display:none;
	}

	&::-ms-ticks {
		
	}

	&::-ms-ticks-before {

	}

	&::-ms-ticks-after {
		
	}



}

.wrapper{
	//border:1px solid grey;
	text-align:center;
	margin: 3% auto;
	width: 300px;
	padding-bottom:40px;

	div{
		display:inline-block;
	}
	

}


.main-wrapper{
	//transform:skew(1deg,5deg);
	width:80%;
	margin: 10% auto;
	padding: 20px;
	&:hover{
		//transform: skew(0deg,0deg);
		transition: all 0.2s ease-in;
		background-color: $bg - 5;
		box-shadow:1px 1px 1px white - 40;

	}
	
}



.pressing{
	background: rgba($iR2-bg - 20 , 1) !important;
	transition: all 0.2s ease-in;
	&:focus{
		&::-ms-thumb{

			//box-shadow: -1px -1px 2px blue;

			

		}

	}

}


.IE-notSupported{
	//border-left: 5px solid rgba(250,100,100,0.5);
	color:rgba(250,100,100,0.7);

	&:hover{
		//background-color: rgba(250,100,100,0.5);
		box-shadow:1px 1px 1px white - 40;
	}
}